/* ------------------------------------------------------------------------------
*
*  # Select2 selects
*
*  Styles for select2.js - custom select plugin
*
* ---------------------------------------------------------------------------- */
.select2-container {
    outline: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left; }
  
  .select2-selection--single {
    cursor: pointer;
    outline: 0;
    display: block;
    padding: 0.4375rem 0;
    line-height: 1.5385;
    color: #333;
    position: relative;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-radius: 0.1875rem;
    transition: all ease-in-out 0.15s; }
    @media screen and (prefers-reduced-motion: reduce) {
      .select2-selection--single {
        transition: none; } }
    .select2-selection--single:hover, .select2-selection--single:focus,
    .select2-container--open .select2-selection--single {
      box-shadow: 0 0 0 62.5rem rgba(0, 0, 0, 0.01) inset; }
    .select2-selection--single:not([class*=bg-]) {
      background-color: #fff; }
      .select2-selection--single:not([class*=bg-]):not([class*=border-]) {
        border-color: #ddd; }
    .select2-selection--single[class*=bg-]:hover, .select2-selection--single[class*=bg-]:focus,
    .select2-container--open .select2-selection--single[class*=bg-] {
      box-shadow: 0 0 0 62.5rem rgba(0, 0, 0, 0.04) inset; }
    .select2-selection--single[class*=bg-] .select2-selection__placeholder {
      color: #fff; }
      .select2-container--disabled .select2-selection--single[class*=bg-] .select2-selection__placeholder {
        color: rgba(255, 255, 255, 0.75); }
    .select2-selection--single .select2-selection__rendered {
      display: block;
      padding-left: 0.875rem;
      padding-right: 2.375rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
      .select2-selection--single .select2-selection__rendered > i {
        margin-right: 0.625rem; }
    .select2-selection--single .select2-selection__clear {
      position: relative;
      cursor: pointer;
      float: right;
      font-size: 0;
      line-height: 1;
      margin-top: 0.12502rem;
      margin-left: 0.625rem;
      opacity: 0.75;
      transition: opacity ease-in-out 0.15s; }
      @media screen and (prefers-reduced-motion: reduce) {
        .select2-selection--single .select2-selection__clear {
          transition: none; } }
      .select2-selection--single .select2-selection__clear:hover {
        opacity: 1; }
      .select2-selection--single .select2-selection__clear:after {
        content: '\ed6b';
        font-family: "icomoon";
        display: inline-block;
        font-size: 1rem;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .select2-selection--single .select2-selection__placeholder {
      color: #999; }
    .select2-selection--single .select2-selection__arrow:after {
      content: '\e995';
      font-family: "icomoon";
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 0.875rem;
      margin-top: -0.5rem;
      font-size: 1rem;
      line-height: 1;
      color: inherit;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .select2-selection--single .select2-selection__arrow b {
      display: none; }
    .select2-container--disabled .select2-selection--single {
      cursor: default;
      box-shadow: none; }
      .select2-container--disabled .select2-selection--single:not([class*=bg-]) {
        color: #999;
        background-color: #fafafa; }
      .select2-container--disabled .select2-selection--single[class*=bg-] {
        opacity: 0.75;
        box-shadow: none; }
      .select2-container--disabled .select2-selection--single .select2-selection__clear {
        display: none; }
  
  .select2-selection--multiple {
    display: block;
    border: 1px solid transparent;
    cursor: text;
    outline: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border-radius: 0.1875rem; }
    .select2-selection--multiple:not([class*=bg-]) {
      background-color: #fff; }
      .select2-selection--multiple:not([class*=bg-]):not([class*=border-]) {
        border-color: #ddd; }
    .select2-selection--multiple .select2-selection__rendered {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      list-style: none;
      margin: 0;
      padding: 0 0.125rem 0.125rem 0.125rem;
      width: 100%; }
    .select2-selection--multiple .select2-selection__placeholder {
      color: #999; }
    .select2-container--disabled .select2-selection--multiple:not([class*=bg-]) {
      background-color: #fafafa; }
    .select2-container--disabled .select2-selection--multiple[class*=bg-] {
      opacity: 0.75;
      box-shadow: none; }
      .select2-container--disabled .select2-selection--multiple[class*=bg-] .select2-selection__choice {
        opacity: 1; }
    .select2-container--disabled .select2-selection--multiple,
    .select2-container--disabled .select2-selection--multiple .select2-selection__choice,
    .select2-container--disabled .select2-selection--multiple .select2-search__field {
      cursor: default; }
    .select2-selection--multiple .select2-selection__choice {
      background-color: #455A64;
      color: #fff;
      cursor: default;
      float: left;
      margin-right: 0.125rem;
      margin-top: 0.125rem;
      padding: 0.3125rem 0.875rem;
      border-radius: 0.1875rem;
      transition: color ease-in-out 0.15s, background-color ease-in-out 0.15s; }
      @media screen and (prefers-reduced-motion: reduce) {
        .select2-selection--multiple .select2-selection__choice {
          transition: none; } }
      .select2-selection--multiple .select2-selection__choice:hover, .select2-selection--multiple .select2-selection__choice:focus {
        background-color: #455A64;
        color: #fff; }
      .select2-selection--multiple .select2-selection__choice > i {
        margin-right: 0.625rem; }
      .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
        cursor: pointer;
        float: right;
        font-size: 0.875rem;
        margin-top: 0.18752rem;
        line-height: 1;
        margin-left: 0.625rem;
        opacity: 0.75;
        transition: opacity ease-in-out 0.15s; }
        @media screen and (prefers-reduced-motion: reduce) {
          .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
            transition: none; } }
        .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove:hover {
          opacity: 1; }
      .select2-container--disabled .select2-selection--multiple .select2-selection__choice {
        opacity: 0.6; }
        .select2-container--disabled .select2-selection--multiple .select2-selection__choice:hover, .select2-container--disabled .select2-selection--multiple .select2-selection__choice:focus {
          background-color: #455A64;
          color: #fff; }
        .select2-container--disabled .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
          display: none; }
    .select2-selection--multiple .select2-search--inline {
      float: left; }
      .select2-selection--multiple .select2-search--inline .select2-search__field {
        font-size: 100%;
        margin-top: 0.125rem;
        padding: 0.3125rem 0;
        background-color: transparent;
        border-width: 0;
        outline: 0;
        color: inherit;
        margin-left: 0.25rem;
        -webkit-appearance: textfield; }
        .select2-selection--multiple .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
          -webkit-appearance: none; }
      .select2-selection--multiple .select2-search--inline:first-child .select2-search__field {
        margin-left: 0;
        padding-left: 0.75rem; }
  
  .select2-dropdown {
    background-color: #fff;
    color: #333;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    position: absolute;
    /*rtl:ignore*/
    left: -100000px;
    width: 100%;
    z-index: 1070;
    border-radius: 0.1875rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); }
  
  .select2-results {
    display: block; }
  
  .select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0; }
    .select2-results > .select2-results__options {
      padding-bottom: 0.5rem;
      max-height: 300px;
      overflow-y: auto; }
      .select2-search--hide + .select2-results > .select2-results__options {
        padding-top: 0.5rem; }
    .select2-results:first-child > .select2-results__options {
      padding-top: 0.5rem; }
  
  .select2-results__option {
    padding: 0.5rem 1rem;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: all ease-in-out 0.15s; }
    @media screen and (prefers-reduced-motion: reduce) {
      .select2-results__option {
        transition: none; } }
    .select2-results__option + .select2-results__option {
      margin-top: 1px; }
    .select2-results__option i {
      margin-right: 0.625rem; }
      .select2-results__option i.icon-undefined {
        display: none; }
    .select2-results__option[role=group] {
      padding: 0; }
    .select2-results__option.select2-results__option--highlighted {
      background-color: #f5f5f5;
      /* color: #333; } */
    }
    .select2-results__option[aria-disabled=true] {
      color: #999;
      cursor: default; }
      .select2-dropdown[class*=bg-] .select2-results__option[aria-disabled=true] {
        color: rgba(255, 255, 255, 0.6); }
    .select2-results__option[aria-selected=true] {
      color: #fff;
      background-color: #2196F3; }
    .select2-results__options--nested > .select2-results__option {
      padding-left: 2rem;
      padding-right: 2rem; }
  
  .select2-results__group {
    display: block;
    padding: 0.5rem 1rem;
    cursor: default;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
    .select2-results__option:first-child > .select2-results__group {
      margin-top: 0; }
  
  .select2-results__message {
    color: #999;
    cursor: default; }
    .select2-dropdown[class*=bg-] .select2-results__message {
      color: rgba(255, 255, 255, 0.75); }
  
  .select2-results__option.loading-results {
    padding-top: 0; }
    .select2-results__option.loading-results + .select2-results__option {
      margin-top: 0.5rem; }
  
  .select2-results__option--load-more {
    text-align: center;
    margin-top: 0.5rem;
    cursor: default; }
  
  .select2-container--open .select2-dropdown {
    /*rtl:ignore*/
    left: 0; }
  
  .select2-container--open .select2-dropdown--above {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
    .select2-container--open .select2-dropdown--above[class*=bg-] {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  
  .select2-container--open.select2-container--above .select2-selection--single,
  .select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  
  .select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
    .select2-container--open .select2-dropdown--below[class*=bg-] {
      border-top: 1px solid rgba(255, 255, 255, 0.2); }
  
  .select2-container--open.select2-container--below .select2-selection--single,
  .select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  
  .select2-search--dropdown {
    display: block;
    position: relative;
    padding: 1rem; }
    .select2-search--dropdown:after {
      content: '\e9a1';
      font-family: "icomoon";
      position: absolute;
      top: 50%;
      left: 1.875rem;
      color: inherit;
      display: block;
      font-size: 0.8125rem;
      margin-top: 0;
      line-height: 1;
      transform: translate(0,calc(-50% - 5px) );
      /* opacity: 0.6; */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .select2-search--dropdown + .select2-results .select2-results__message:first-child {
      padding-top: 0; }
    .select2-search--dropdown .select2-search__field {
      padding: 0.4375rem 0.875rem;
      padding-left: 2.5625rem;
      border: 1px solid #ddd;
      outline: 0;
      width: 100%;
      border-radius: 0.1875rem; }
      .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
        -webkit-appearance: none; }
    .select2-search--dropdown.select2-search--hide {
      display: none; }
  
  .select-lg.select2-selection--single {
    padding: 0.5625rem 0;
    font-size: 0.875rem;
    line-height: 1.4286; }
    .select-lg.select2-selection--single .select2-selection__rendered {
      padding-left: 1rem;
      padding-right: 2.5rem; }
    .select-lg.select2-selection--single .select2-selection__arrow:after {
      right: 1rem; }
  
  .select-lg.select2-selection--multiple .select2-selection__choice {
    padding: 0.4375rem 1rem;
    font-size: 0.875rem;
    line-height: 1.4286; }
  
  .select-lg.select2-selection--multiple .select2-search--inline .select2-search__field {
    padding: 0.4375rem 0;
    font-size: 0.875rem;
    line-height: 1.4286; }
  
  .select-sm.select2-selection--single {
    padding: 0.3125rem 0;
    font-size: 0.75rem;
    line-height: 1.6667; }
    .select-sm.select2-selection--single .select2-selection__rendered {
      padding-left: 0.75rem;
      padding-right: 2.375rem; }
    .select-sm.select2-selection--single .select2-selection__arrow:after {
      right: 0.75rem; }
  
  .select-sm.select2-selection--multiple .select2-selection__choice {
    padding: 0.1875rem 0.75rem;
    font-size: 0.75rem;
    line-height: 1.6667; }
  
  .select-sm.select2-selection--multiple .select2-search--inline .select2-search__field {
    padding: 0.1875rem 0;
    font-size: 0.75rem;
    line-height: 1.6667; }
  
  .select2-selection--multiple[class*=bg-] .select2-selection__choice {
    background-color: rgba(0, 0, 0, 0.2); }
  
  .select2-dropdown[class*=bg-] .select2-search--dropdown .select2-search__field {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: transparent;
    color: #fff; }
  
  .select2-dropdown[class*=bg-] .select2-results__option[aria-selected=true] {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff; }
  
  .select2-dropdown[class*=bg-] .select2-results__option--highlighted {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff; }
  
  .select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    z-index: 99;
    background-color: #fff;
    opacity: 0; }
  
  .select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: fixed !important;
    width: 1px !important; }
  
  .select2-result-repository {
    padding-top: 0.4375rem;
    padding-bottom: 0.4375rem; }
  
  .select2-result-repository__avatar {
    float: left;
    width: 60px;
    margin-right: 0.9375rem; }
    .select2-result-repository__avatar img {
      width: 100%;
      height: auto;
      border-radius: 100px; }
  
  .select2-result-repository__meta {
    margin-left: 70px; }
  
  .select2-result-repository__title {
    font-weight: 500;
    word-wrap: break-word;
    margin-bottom: 2px; }
  
  .select2-result-repository__forks,
  .select2-result-repository__stargazers,
  .select2-result-repository__watchers {
    display: inline-block;
    font-size: 0.75rem; }
  
  .select2-result-repository__description {
    font-size: 0.75rem; }
  
  .select2-result-repository__forks,
  .select2-result-repository__stargazers {
    margin-right: 0.9375rem; }
  
